nav .channels {
    float: right;
}

nav .channels {
    position: relative;
    z-index: 25;
}
.channels {
    display: block;
    list-style: none outside none;
}

ul, ol {
    list-style: none outside none;
}


nav .channels li {
    float: left;
    margin-left: 6px;
    position: relative;
}



nav .channels li.rss a {
    background-position: -23px 0;
    opacity: 0.45;
}
nav .channels li.facebook a {
    background-position: -23px -23px;
    opacity: 0.45;
}

nav .channels li.twitter a {
    background-position: -23px -46px;
    opacity: 0.45;
}

nav .channels li.newsletter a {
    background-position: -23px -69px;
    opacity: 0.45;
}


nav .channels li.rss a:hover {
    opacity: 0.1;
}
nav .channels li.facebook a:hover {
    opacity: 0.1;
}

nav .channels li.twitter a:hover {
    opacity: 0.1;
}

nav .channels li.newsletter a:hover {
    opacity: 0.1;
}

nav .channels li a {
    transition: opacity 0.2s ease 0s;
}
nav .channels li a {
    background-image: url("#{resource['images/channels.png']}");
    display: block;
    height: 23px;
    text-indent: -9999em;
    width: 23px;
}
a:link {
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
nav.toplevel {
    margin-right: 0 !important;
    width: 100%;
}
nav.toplevel {
    background: none repeat scroll 0 center transparent;
    border: 0 none;
}
nav.toplevel {
}
.clearfix {
}


