.comments-custom-body {
	padding:10px;
}

.comments-text-box {
background-color: #F8F8F8;
    border-color: #E4E4E4 #EAEAEA #EAEAEA #E4E4E4;
    border-style: solid;
    border-width: 1px;
    width: 400px;
}

.comments-button {
    background-color: #CCCCCC;
    border-color: #EEEEEE #888888 #888888 #EEEEEE;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    cursor: pointer;
    margin: 5px 0;
}

.comment-entry{
	border-bottom: 1px dotted darkgray;
    margin-bottom: 5px;
}

.comment-value{
	font-style:italic;
	padding:10px;
}

.comment-name{
	font-style:bold;
}
.comment-table-columns{
	padding:10px;
}