
.portlet-custom-body{
	background: url("#{resource['images/body.gif']}") repeat scroll 0 0 #F4F4F4;
    max-width: 1800px;
}

.header-text {
	color:red;
}

.generic-rate{
	color:blue;
}

.generic-rate:hover{
	color:green;
	cursor: pointer;
}

.generic-head-table{
	width:100%;
}

.generic-head-column{
	width:50%;
}
.custom-head-class{
	width:25%;
}
.generic-head-column-channels{
	width:25%;
	vertical-align: top;
}

.portlet-custom-body-content{
 	background-color: white;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    margin: 5px 10px;
    padding: 10px;
}



.generic-head-column-channels img {
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

#portlet_niceuserlist_WAR_nicejsfportlet.portlet div.portlet-content{
	padding: 1px !important;
}


#portlet_nicejsfsample_WAR_nicejsfportlet div.portlet-content{
	padding: 1px !important;
}


.umLableColumn{
	width:100px;
	padding: 5px;
}
.umEntryColumn{
	width:100px;	
}
.umSaveButton{
	margin-bottom: 50px;
}
